<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lib.jsdk">

    <application>

        <activity
            android:name=".activity.MyAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_transparent"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.FullScreen" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_transparent"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent"
            tools:replace="android:theme" />
        <activity
            android:name=".activity.TempAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_transparent"
            android:label=""
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.FullScreen.Translucent" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <receiver android:name=".broadcast.InsertAppSdkReceiver">
            <intent-filter>
                <action android:name="insert_app_sdk" />
            </intent-filter>
        </receiver>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="true"
            android:permission=""
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>